html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background-color: #EEF0F4;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 90%; /**320px;**/
    margin: 30px auto;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 90%; /**320px;**/
    margin: 5px auto;
    justify-content: center;
}

#nav-container {
    display: inline-block;
    max-width: 50%;
    justify-content: left;
    border-color: black;
}

#main-container {
    display: inline-block;
    max-width: 80%;
    justify-content: center;
}

img {
    width: 150px;
    margin: 0 auto;
}

#add-entry-container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 10px auto;
    justify-content: center;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, sans-serif;
}

#add-button {
    color: #FDFDFD;
    background-color: #AC485A;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, sans-serif;
}

#display-entry-container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 10px auto;
    justify-content: center;
}

#game-list {
    font-size: 20px;
    text-align: center;
    font-family: Verdana, sans-serif;
    justify-content: center;
}

.game-list-entry {
    color: black;
    background-color: #DCE1EB;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, sans-serif;
    justify-content: center;
}

#delete-button {
    color: #FDFDFD;
    background-color: #5e0f01;
    border: 0;
    padding: 5px;
    border-radius: 8px;
    font-size: 10px;
    text-align: center;
    font-family: Verdana, sans-serif;    
}